
{% extends "base.html" %}

{% block content %}
  <h1 style ="text-align:center">Welcome to Idea Meet</h1>
  <script type="text/javascript">
    //var location;
    var lat, lng, firstName, lastName, linkedinId, industry;
    function onLinkedInLoad() {
      IN.Event.on(IN, "auth", function() {onLinkedInLogin();});
      IN.Event.on(IN, "logout", function() {onLinkedInLogout();});
    }

    function onLinkedInLogout() {
      setLoginBadge(false);
    }

    function onLinkedInLogin() {
      // we pass field selectors as a single parameter (array of strings)
      IN.API.Profile("me")
        .fields(["id", "firstName", "lastName", "pictureUrl", "publicProfileUrl", "industry"])
        .result(function(result) {
          setLoginBadge(result.values[0]);
        })
        .error(function(err) {
          alert(err);
        });
    }

    function setLoginBadge(profile) {
      if (!profile) {
        profHTML = "<p>You are not logged in</p>";
      }
      else {
        linkedinId = profile.id;
        industry = profile.industry;
        firstName = profile.firstName;
        lastName = profile.lastName;

        var pictureUrl = profile.pictureUrl || "http://static02.linkedin.com/scds/common/u/img/icon/icon_no_photo_80x80.png";
        profHTML = "<p><a href=\"" + profile.publicProfileUrl + "\">";
        profHTML = profHTML + "<img align=\"baseline\" src=\"" + pictureUrl + "\"></a>";      
        profHTML = profHTML + "&nbsp; Welcome <a href=\"" + profile.publicProfileUrl + "\">";
        profHTML = profHTML + profile.firstName + " " + profile.lastName + "</a>! <a href=\"#\" onclick=\"IN.User.logout(); return false;\">logout</a></p>";
        initialize();
      }
      document.getElementById("loginbadge").innerHTML = profHTML;
      console.log("setLoginBadge called");
    }

    function initialize() {
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: new google.maps.LatLng(41.879535, -87.624333),
          mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      google.maps.event.addListener(map, 'click', function(event) {
            lat = event.latLng.lat();
            lng = event.latLng.lng();
            $('#input_lat').val(lat);
            $('#input_lng').val(lng);
            //alert("Lat = " + lat + ", Lng" + lng);
        });
    }

    function submitInfo(){
      $.ajax({
        url:'/',
        type: "POST",
        data: {lat: lat, lng: lng, firstName: firstName, lastName: lastName, linkedinId: linkedinId, industry: industry},
        success:function(response){
          //alert("submitted successfully")
          window.location.replace("/list")
        },
        complete:function(){},
        error:function (xhr, textStatus, thrownError){}
      });
    }
</script>

<hr>

<div id="sec1" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>The Simplicity of Bootstrap</h1>
        <p class="lead">The Most Popular Responsive Framework</p>
      </div>
      <div class="col-md-5">
        <h1 class="pull-right">
          <script type="IN/Login"></script>
          <div id="map" style="width: 500px; height: 300px">  
        </div>
        
        <div>
          <input type="text" id="input_lat">
          <input type="text" id="input_lng">
          <button type="submit" id="submit_info" onclick="submitInfo()"> submit </button>
        </div>
      </h1>
      </div>
    </div>
  </div>
</div>

<div class="featurette" id="sec2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Amazing Features</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="featurette-item">
          <i class="icon-rocket"></i>
          <h4>Rocket</h4>
          <p>Up-up-and-away with this starter template.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-magnet"></i>
          <h4>Magnet</h4>
          <p>For you are a magnet and I am steel.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-shield"></i>
          <h4>Shield</h4>
          <p>Protect yourself. Don't design like it's 1999.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon-pencil"></i>
          <h4>Scholar</h4>
          <p>Because lead pencils are pretty smart looking.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<ul class="nav pull-right scroll-down">
  <li><a href="#" title="Scroll down"><i class="icon-chevron-down icon-3x"></i></a></li>
</ul>
<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
</ul>

<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>

<!-- need to be logged in to use; if not, offer a login button -->

{% endblock %}

